{% extends "shared/_layout.html" %}

{% block title %}
Template App - Home
{% endblock %}

{% block page_header %}
    Home Page
{% endblock %}

{% block page_summary %}
    Home Page Summary
{% endblock %}

{% block main_content %}
    <div class="home-pane">
        <h2>Template Flask App Made Simple</h2>
        <p>
            <ul>
                <li>State the Problem</li>
                <li>Reveal the Solution</li>
                <li>How to use Product</li>
            </ul>
        </p>
    </div>
{% endblock %}
